.cern-icon {
  margin-right: none;
  padding: 0 14px;
}

.cern-spacer {
  flex: 1 1 auto;
}

.cern-card {
  float: left;
  max-width: 42%;
  background-color: #c2185b;
  margin-top: 32px;
}

.data-analysis-card {
  float: right;
  max-width: 47%;
  background-color: #c2185b;
  margin-top: 32px;
  margin-right: 15px;
}

.example-button-row button {
  background-color : white;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  color : #c2185b;
}

.graph-analysis-card {
  float: left;
  position:relative;
  top:-420px;
  max-width: 42%;
  background-color: #c2185b;
  margin-top: 32px;
  margin-right: 32px;

}

.neural-net-card {
  float: left;
  max-width: 46%;
  background-color: #c2185b;
  margin-top: 32px;
}

.cern-header-image {
  background-image: url('../assets/img/homepage/logo.png');
  background-size: cover;
  background-color: white;
}

.cern-small-box, .cern-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border-color: #c2185b;
  color: #ffffff;
}

.data-head {
  float: left;
  margin-top: 32px;
  max-width: 46%;
  background-color: #c2185b;
}

.mat-accordion {
  float: left;
  margin-top: 5px;
  max-width: 46%;
}

.mat-expansion-panel {
  background-color: #c2185b;
}
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.neural-net-card {
  float: right;
  max-width: 42%;
  background-color: #c2185b;
  margin-top: 32px;
}

.neural-net-card a{
  color: white;
  text-decoration: none;
}
.neural-net-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyciMAGK4DaJPnz2JAn0j5xBWJJcjyua4rB03uT-nkQogEQU1');
  background-size: cover;
}

.neural-net-card #card-image{
  max-height: 430px;
}


.features-card a{
  color: white;
  text-decoration: none;
}
.features-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnyciMAGK4DaJPnz2JAn0j5xBWJJcjyua4rB03uT-nkQogEQU1');
  background-size: cover;
}




